<div class="main-visual">
    <div class="main-visual-content">
    </div>
  </div>
  
<h3>新着一覧</h3>

<div id="Carousel" class="glide">
  <ul class="gride__wrapper">
    <li class="glide__slide"><img src="/img/nature-4476546_640.jpg"></li>
    <li class="glide__slide"><img src="/img/bridges-4474817_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/man-4475240_640.png" /></li>
    <li class="glide__slide"><img src="/img/skull-and-crossbones-4430581_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/money-4474715_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/background-4477221_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/dogs-4429513_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/chose-4473945_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/beer-garden-4471014_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/drop-of-water-4478783_640.jpg" /></li>

    </ul>
  </div>
  <h3>KINRECOのオススメ</h3>

<div id="Carousel" class="glide">
  <ul class="gride__wrapper">
    <li class="glide__slide"><img src="/img/city-of-london-4481399_640.jpg"></li>
    <li class="glide__slide"><img src="/img/porsche-4476539_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/recup-4481723_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/pets-4415649_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/money-4474715_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/background-4477221_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/dogs-4429513_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/chose-4473945_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/beer-garden-4471014_640.jpg" /></li>
    <li class="glide__slide"><img src="/img/wood-skeleton-4474810_640.jpg" /></li>

    </ul>
  </div>

<script>

$(function(){
  $('.gride__wrapper').slick({
  centerMode: true, //センターモード
    centerPadding: '60px', //前後のパディング
    autoplay: true, //オートプレイ
    autoplaySpeed: 3000, //オートプレイの切り替わり時間
    slidesToShow: 3, 
    responsive: [{
      breakpoint: 768,
      settings: {
        arrows: true, // 前後の矢印非表示
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3,
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }]
  });
});
   


</script>


