
<div class="container-fluid">
    <div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="main-visual">
          <div class="main-visual-content">
              <p class="main-visual-text">
              KINRECO
              MUSIC
              STORE
            </p>
          </div>
        </div>
        
      <h3>New Arrival</h3>


      <div id="Carousel" class="glide">
        <ul class="gride__wrapper">
          <% @new_item_image.each do |item| %>
            <% item.items_images.each do |image| %>
              <li class="glide__slide">
                <%= link_to users_item_path(item), data: {"turbolinks" => false} do %>
                  <%= attachment_image_tag image, :image, :fill, 300, 300 %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>

        <h3>KINRECOのオススメ</h3>

      <div id="Carousel" class="glide">
        <ul class="gride__wrapper">
          <% @new_item_image.shuffle.each do |item| %>
            <% item.items_images.each do |image| %>
              <li class="glide__slide">
                <%= link_to users_item_path(item), data: {"turbolinks" => false} do %>
                  <%= attachment_image_tag image, :image, :fill, 300, 300 %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>


    <script>
      $(function(){
        $('.gride__wrapper').slick({
        centerMode: true, //センターモード
          centerPadding: '60px', //前後のパディング
          autoplay: true, //オートプレイ
          autoplaySpeed: 2000, //オートプレイの切り替わり時間
          slidesToShow: 3, 

          responsive: [{
            breakpoint: 768,
            settings: {
              arrows: true, 
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3,
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: true,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }]
        });
      });
    </script>
  <div class="col-md-1"></div>
  <div class="row">
  </div>
</div>
