<h1>ジャンル編集</h1>
<!-- form_for部分 -->
<%= form_for @genre, url: admins_genre_path(@genre.id)do |f| %>
    <h4>ジャンル</h4>
    <%= f.text_field :genre_name %>
     <td><%= link_to "戻る ", admins_genres_path  %></td>
    <%= f.submit '保存' %>

<% end %>