
<div class="main-contents">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h1>マイページ</h1>
      </div>
    </div>
    <div class="row">
  	  <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><h2>ご注文について</h2></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><h2>注文購入履歴</h2></th><th></th>
  					</tr>
              <td><%= link_to "購入履歴",users_path,class: "btn btn-default fontsize"  %></td>
            </tr>
  					<tr>
              <th><h2>送り先登録</h2></th><th></th>
  					</tr>
  					<tr>
  			      <td class="height"><%= link_to "送り先情報一覧", users_destinations_path,class: "btn btn-default fontsize" %></td>
            </tr>
  					<tr>
              <th><h2>登録情報について</h2></th><th></th>
  					</tr>
  					<tr>
            <td><%= link_to "ユーザー情報編集 " ,edit_end_user_registration_path,class: "btn btn-default fontsize" %></td>
            <td><%= link_to "退会ページ", "#{@user.id}/quit",class: "btn btn-default fontsize"%></td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
