<html>
<body>

<table>
	
  <thead>
    <tr>
      <th>本当に退会しますか？</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to "退会します ",users_end_user_path, method: :delete  %></td>
        <td><%= link_to "退会しません", mypage_path(@user)  %></td> 
      </tr>
  </tbody>
</table><br>

</body>
</html>