<html>
<body>

<table>
	
  <thead>
    <tr>
      <th>本当に退会しますか？</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to "退会します "  %></td>
        <td><%= link_to "退会しません",mypage_path  %></td> 
      </tr>
  </tbody>
</table><br>

</body>
</html>