<p>ユーザー情報の変更</p>
<%= form_for(@enduser) do |f| %>
 <p>パスワード</p><%= f.password_field :password, autocomplete: "new-password" %>
 <%= f.submit "登録", class: "btn btn-default" %>
<% end %>

<%= link_to "戻る",admin_path(@enduser.id), class: "btn btn-default" %>
