<p>ユーザー情報の変更</p>
<%= form_for @password,url: password_update_path(@password.id)  do |f| %>
 <p>パスワード</p><%= f.password_field :password, autocomplete: "new-password" %>
 <%= f.submit "登録", class: "btn btn-default" %>
<% end %>

<%= link_to "戻る",edit_admins_admin_path(@password.id), class: "btn btn-default" %>
