/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	padding-right: 40px;
}

.slick-next {
    right: 5px !important;
}
.slick-prev {
 left: 10px !important;
}
.slick-next:before, .slick-prev:before{
   color: #000 !important;
}
header {
    width: 100%;
   height: 90px;
    background-color: #DDDDDD ;
   float: left;
   font-family: ‘Hiragino Kaku Gothic Pro’, ‘ヒラギノ角ゴ Pro W3’, メイリオ, Meiryo, ‘ＭＳ Ｐゴシック’, sans-serif;
   color: #222222;
   font-size:16px;
	 margin-bottom:30px;
}
.headtext {
    color: #222222;
	  background-color: #DDDDDD ;
    float: left;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    color: #222222;
    font-size:16px;
    margin-bottom: 30px;
}
.navbar-inverse {
    float: left;
}
.containerhead {
    width: 100%;
    height: 100%;
    background-color: #DDDDDD ;
    float: left;
}
.navbar-left {
          float: left;
}
footer {
 width: 100%;
 height: 100%;
 text-align: center;
 padding: 50px 0;
 float: left;
}
.footer_text{
	background-color: #CCCCCC;
	width: 100%;
	height: 150px;
}
.site_logo {
    max-width: 80px;
    height : 80px;
    background-size: 80px 80px;
    background-position: center;
}

.pagination>li>a {
    /*枠線をなくす*/
  color: black;   /*文字の色を変える*/
  justify-content: center;
  background-color: #EEEEEE;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #D7EEFF;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  color: black;
}
.paginate_block{
	width: 100%;
	text-align: center;
	padding-top: 40px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
  justify-content: center;
}

.return {
	background-color: gray;
    font-size: 15px;
    text-align: center;
    height: 50px;
    margin-top: 0;
    padding-top: 15px;
    width: 100%;
}
.return:hover {
	opacity: 0.6;
}

.king_icon {
  width:200px;
  height:80px;
  float: left;
  background-size: cover;
  background-position: center;
}

.field {
  font-size:18px;
  margin: 0 auto;
}

.field-height {
   width: 400px;
  height:800px;
  padding-top: 100px;
  margin: 0 auto;
}

.submit {
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  margin: 10px;
}

.login_form {
  font-size:18px;
}

.arrival-new {
  width: 400px;
  height:500px;
  padding-top: 100px;
  margin: 0 auto;
  font-size: 26px;
}

.cart-show {
  font-size: 18px;
  padding-top: 100px;
  padding-left:50px;
}

.destination {
  font-size: 18px;
  height: 500px;
  padding-top: 100px;
}

.confirmation {
  padding-top: 100px;

}

.order_complete {
    height: 500px;
    padding-top: 100px;
    font-size: 40px;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.quit {
      height: 500px;
    padding-top: 100px;
    font-size: 30px;
}
