// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-visual {
	width: 100%;
	height: 680px;
	background-image: url(headphone.jpg);
  background-position: center;
  background-size: cover;
}

.main-visual-content{
  width: 40%;
  height: 300px;
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 105px; /* 上側の内側の余白で垂直方向の位置を調整 */
  float: right;
  font-size: 100px;
  text-shadow: 2px 4px 6px #808080;
}



h3 {
	padding: 0.5em 1em;
    background-color: #DDDDDD ;
    border-top: solid 6px #EEEEEE  ;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;

}

.glide__slide img {
  width: 94%;
  height: 380px;
  padding: 50px 20px;
  background-size: cover;
}


