// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-visual {
	width: 100%;
	height: 580px;
	background-image: url(tape.jpg);
  background-position: center;
  background-size: cover;
}
.main-visual-content{
  width: 40%;
  height: 300px;
  text-align: left; /* 文字を真ん中に寄せる */
  padding-top: 120px; /* 上側の内側の余白で垂直方向の位置を調整 */
  padding-left: 80px;
  float: right;
  font-size: 77px;
  text-shadow: 2px 4px 6px #808080;
}

.item_show {
  width: 400px;
  height: 50px;
  background-color: black;
  color: #EEEEEE  ;
  padding : 5px 5px 5px 5px;
  font-size : 30px;
}

h4 {
    font-size: 40px;
}

h3 {
	padding: 0.5em 1em;
    background-color: #DDDDDD ;
    border-top: solid 6px #EEEEEE  ;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

.glide__slide img {
  width: 94%;
  height: 380px;
  padding: 50px 20px;
  background-size: cover;
}

.item_price {
  font-size: 28px;
  float: left;
}

.cart {
  font-size: 18px;
  float: left;
}